<div class="container">
  <mat-toolbar>
    <span>Gerenciar Transferências</span>
    <span class="example-spacer"></span>
    <div class="button-group">
      <button mat-flat-button color="primary" (click)="toggleComponent()" *ngIf="showAgendar">
        Consultar
      </button>
      <button mat-flat-button color="primary" (click)="toggleComponent()" *ngIf="!showAgendar">
        Agendar
      </button>
    </div>
  </mat-toolbar>

  

  <mat-divider></mat-divider>
  <app-agendamento-transferencia *ngIf="showAgendar"></app-agendamento-transferencia>
  <app-listar-agendamentos *ngIf="!showAgendar"></app-listar-agendamentos>
</div>

