<div class="container">
    <h2>Agendar Transferência</h2>
    <mat-card>
      <form (ngSubmit)="agendarTransferencia()">
        <mat-form-field appearance="fill">
          <mat-label>Conta Origem</mat-label>
          <input matInput [(ngModel)]="transferencia.contaOrigem" name="contaOrigem" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Conta Destino</mat-label>
          <input matInput [(ngModel)]="transferencia.contaDestino" name="contaDestino" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Valor da Transferência</mat-label>
          <input matInput type="number" [(ngModel)]="transferencia.valorTransferencia" name="valorTransferencia" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Data da Transferência</mat-label>
          <input matInput [(ngModel)]="transferencia.dataTransferencia" [matDatepicker]="picker" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Agendar Transferência</button>
      </form>
    </mat-card>
  </div>  
